:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --primary-font-family: Roboto, sans-serif;
  --primary-font-style: normal;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #F5F4FA;
}

/* Roboto 400, 500, 700, 900, Raleway 700
font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

/* order-button bg color:  #2196f3;
header bg color: #ececec;
hero bg color: #2f303a;*/


/* main css */
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-style: var(--primary-font-style);
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

/* hero block */
.hero-title,
.feature-title {
  text-transform: uppercase;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  background-color: #2f303a;
  color: #ffffff;
  display: block;
  width: 1600px;
  height: 600px;}

.hero{
  text-align: center;
  vertical-align: center;
  padding-top: 201;
  padding-right: 456;}

  .order-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 3px;  
}
.order-button {cursor: pointer;}

.order-button:hover {
  color: #000000;
}

/* sections особенности и чем мы занимаемся */
.feature-section, .works-section {background-color: E5E5E5;}

.section-title,
.feature-title {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.section-title {
  font-size: 36px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;}

.team-section {background-color: var(--secondary-bg-color);}
.team-role,
.feature-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.team-role {
  font-size: 16px;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}


/* header & footer */
/* 1__logo top and bottom of the page */
.site-nav .logo,
.site-nav .accent-logo,
.footer-logo,
.footer .accent-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.site-nav .logo {
  color: var(--primary-text-color);
}
.footer-logo {
  color: var(--white-color);
  padding-left: 40px;
  padding-top: 60px;
}
.site-nav .accent-logo,
.footer .accent-logo {
  color: var(--accent-text-color);
}

/* 2__header navigation links */

.header {
  background-color: #ececec;
  margin: 0;
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}
.site-nav .link.current:active {
  color: var(--accent-text-color);
}
/* 3__header contacts links */

/* .contacts-nav {
  text-align: right;} */


.contacts-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}


.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-text-color);
}

/* 3 - footer address & contacts links */
.footer {
  background-color: #2f303a;
  margin: 0;
}

.footer .footer-address {
  color: var(--white-color);
  font-style: var(--primary-font-style);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-left: 40px;
}
.footer .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-text-color);
}
/* end of footer */

/* porfolio page css */

.portfolio-page {
  background-color: #e5e5e5;
  margin: 0;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
}

.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

.radiobuttons-set li {
  display: inline-block;
  padding: 0;
  margin 8px;
  
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03;
  color: var(--primary-text-color);
  }

.button {background-color: var(--secondary-bg-color);
border: none;}

.button:hover, .button:focus {
  color: var(--white-color); 
  background-color: #2196F3;}


/* end of portfolio page */